body {
    background: #FDF179;
    color: white;
}

header {
    font-size: large;
    text-align: center;
}

.main {
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    margin: 15px;
    color: black;
    font-size: 22px;
    padding: 10px 15px;
    text-align: center;
}

#image {
    width: 400px;
    border-radius: 9%;
    padding-bottom: 10px;
}

.age {
    margin: auto;
    display: block;
}

footer {
    text-align: center;
}